confluent-kafka==2.15.0
imbalanced-learn==0.12.4
joblib==1.5.2
langchain-anthropic==0.2.4
langchain-core==0.3.63
langchain-ollama==0.2.0
langchain-openai==0.2.8
langgraph==0.2.53
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
requests==2.34.2
scikit-learn==1.5.2
seaborn==0.13.2
shap==0.46.0
streamlit==1.60.0
